{
  "extends": "loopback",
  "rules": {
    "max-len": ["error", 110, 4, {
      "ignoreComments": true,
      "ignoreUrls": true,
      "ignorePattern": "^\\s*var\\s.+=\\s*(require\\s*\\()|(/)"
    }],
    // NOTE(bajtos) we should eventuall remove this override
    // and fix all of those 100+ violations
    "one-var": "off"
  }
}
