# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners,
# the last matching pattern has the most precedence.

# Current maintainers
* @jannyHou @dhmlau @zbarbuto @nitro404 @emonddr

# Alumni
#
# @lehni @kjdelisle @loay @ssh24 @virkt25 @shimks @b-admike
